.right-transition {
    animation-name: right;
    animation-duration: 2s;
    animation-delay: 0;
}


@keyframes right {
    0% {
        transform: translateX(100%);

    }
    50% {
      

    }
    100% {
    }
}


img {
    width: 125px;
    height: 180px;
}

.bold {
    font-weight: 600;
}

.fs-24 {
    font-size: 24px !important;
}

.img-dustin {
    width: 300px;
    height: 380px;
}