.right-transition {
    animation-name: right;
    animation-duration: 2s;
    animation-delay: 0;
}


@keyframes right {
    0% {
        transform: translateX(100%);

    }
    50% {
      

    }
    100% {
    }
}


img {
    width: 125px;
    height: 180px;
}

.bold {
    font-weight: 600;
}

.fs-24 {
    font-size: 24px !important;
}

.img-dustin {
    width: 300px;
    height: 380px;
}

.img-chart {
    width: 100%;
    height: 100%;
}

.modal-dialog {
    max-width: 90% !important;
}


.btn-next {
    width: 100%;
}



.main-btn-grid-container {
    display: grid;
    grid-template-columns: min-content min-content min-content;
}

.btn-grid-item {
    width: 100px;
}

.dealer-card-grid-container {
    display: grid;
    justify-content: center;
    columns: 1fr;
}

.player-card-grid-container {
    display: grid;
    justify-content: center;
    columns: 1fr;
}


@media screen and (max-width: 576) {
    .main-btn-grid-container {
        justify-content: center;
    }
  }